.vhs {
    position: absolute;
    left: 11px;
    top: 12px;
}

.time {
    position: absolute;
    right: 11px;
    top: 12px;
}

.main {
    margin: 120px auto 0 auto;
    max-width: 700px;
}

.start-page{
    text-align: center;
}

.hide-me {
    display: none;
}

.answers button {
    display: block;
}